name: Build and Deploy to Docker hub

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v2

      - name: Log in to Docker hub
        uses: docker/login-action@v1
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}
        
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./docker/Dockerfile.user
          push: true
          tags: luvsharma7/wallet-app:latest
      
      - name: Verify Pushes Image
        run: docker pull luvsharma7/wallet-app:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@main
        with:
          host: ${{secrets.SSH_HOST}}
          username: ${{secrets.SSH_USERNAME}}
          key: ${{secrets.SSH_KEY}}
          script: |
            sudo docker pull luvsharma7/wallet-app:latest
            sudo docker stop wallet-app || true
            sudo docker rm wallet-app || true
            sudo docker run -d --name wallet-app -p 3005:3000 luvsharma7/wallet-app:latest